main > h1{
    font-size: 30px;
}
main > h1{
    text-align: center;
    margin: 40px 0px;
    color: #555;
    text-shadow: 2px 2px 5px #00000044;
 
}

#image-section{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    
}
.prod-sale{
    box-shadow: 3px 3px 10px #cfcfcf48;
    border-radius: 5px;
    padding: 40px;
}
.prod-sale h2{
    margin-top: 20px;
    margin-bottom: 8px;
    color:#252525;
    font-size: 17px;
}
.prod-sale img{
    margin-left: 30px;
}



#payment-section{
    display: flex;
    margin-top: auto;
    flex-direction: column;
}
#payment-section > h2{
    margin-left: 10px;
    margin-bottom: 10px;
}
#payment-section > ul{
    margin-left: 20px;
    padding-left: 20px;
    
}
#imagem{
    width: 500px;
    text-align: center;
}

