
main > h1{
    font-family: "Bebas Neue", sans-serif;
    color: rgb(190, 4, 4);
    margin-left: 15px;
    text-decoration: underline;
    font-style: italic;
    font-size: 2.1rem;
}

.image-section{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
   
}

.descricao{
    font-family:  "Quicksand", sans-serif;
    width: 200px;
    
}
.descricao > h2{
    font-size: 1.5rem;
    padding: 10px 0px;
    text-shadow: 1px 1px 2px #00000059;
}
.descricao > p{
    font-size: 1rem;
    color: #4b4b4b;
}
.descricao > h3{
    font-size: 1.8rem;
    color: #195827;
    font-family: "Bebas Neue", sans-serif;
    
;
}
