
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 63vh;
    background-color: rgb(245, 245, 245);
}
nav{
    width: 100vw;
    height: 80px;
    background-color: rgb(224, 8, 8);
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
    
}
ul {
    list-style: inside;
}
footer{

    height: 300px;
    background-color: rgb(143, 14, 14);
}