
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 88.6vh;
    background-color: rgb(245, 245, 245);
}
nav{
    width: 100vw;
    height: 80px;
    background-color: rgb(224, 8, 8);
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
#container{
    display: flex;
    justify-content: center;
}
#imagem{
    width: 1000px;
    text-align: center
}
footer{

    height: 40px;
    background-color: rgb(143, 14, 14);
}
footer > p{
    text-align: center;
    color: white ;
}