
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*background-color: #f5f3f296;*/
}
header{
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: #0A2540;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end; 
}
main{
    margin-top: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
main > h1{
    font-size: 30px;
}
main > h1, p{
    text-align: center;
    margin-bottom: 8px;
    color: #555;
}
nav > ul{
    display: flex;
    list-style: none;
}
main > h2{
    color:#e01806;
}
a{
    text-decoration: none;
    color: #e7e7e7be;
    padding: 25px;
}
#image-section{
    margin: 15px 0px;
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
}

#payment-section{
    display: flex;
    margin-top: auto;
    flex-direction: column;
}
#payment-section > h2{
    margin-left: 10px;
    margin-bottom: 10px;
}
#payment-section > ul{
    margin-left: 20px;
    padding-left: 20px;
    
}
#imagem{
    width: 500px;
    text-align: center;
}
footer{

    height: 40px;
    background-color: #00000088;
}
footer > p{
    text-align: center;
    color: white ;
}