
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: brown;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: end; 
    
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
nav > ul{
    display: flex;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    padding: 25px;
}
#payment-section{
    display: flex;
    margin-top: auto;
    flex-direction: column;
}
#payment-section > h2{
    margin-left: 10px;
    margin-bottom: 10px;
}
#payment-section > ul{
    margin-left: 20px;
    padding-left: 20px;
    
}
#imagem{
    width: 500px;
    text-align: center;
}
footer{

    height: 40px;
    background-color: rgb(143, 14, 14);
}
footer > p{
    text-align: center;
    color: white ;
}