*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: #0A2540;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end; 
}
#lista-menu{
    display: flex;
    list-style: none;
}
.item-menu{
    text-decoration: none;
    color: #e7e7e7be;
    padding: 25px;
}
footer{

    height: 40px;
    background-color: #00000088;
}
footer > p{
    text-align: center;
    color: white;
}