@charset "UTF=8";

body{
    height: 100vh;
}
header{
    width: 100vw;
    height: 60px;
   

}

.lista-menu{
    
    list-style: none;
    display: flex;
}
.item-menu{
    text-decoration: none;
   
    

}
