@charset "UTF=8";

/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');


body{
    height: 100vh;
    
}
header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #ce1414;
    box-shadow: 1px 1px 5px #0000005b;
    margin-bottom: 30px;

    position: sticky;
    top: 0;
    z-index: 1000;

}
.loja-nome{
    font-family: "Momo Trust Display", sans-serif;
    font-style: italic;
    color: #fffffff5;
    font-size: 1.2rem;
    margin-top: 6px;
    margin-left: 20px;
    text-shadow: 1px 1px 5px #000000b6;
}
.lista-menu{
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 40px;

    position: relative;
    top: 50%;
    left: 190%;
}
.item-menu{
    text-decoration: none;
    color: #ffffffce;
}
.item-menu:hover{
    color: white;
}

